{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="header" class="jumbotron text-center mb-1">
    <h1 class="display-2">Hello there!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aliquam incidunt blanditiis in nemo porro facere eos excepturi laboriosam eum, facilis corrupti vitae, dolores tempore doloribus iure et suscipit repellat.</p>
    <a href="" class="btn btn-primary">Contact me</a>
    <a href="" class="btn btn-success">Read more about me</a>
  </section>


  <section id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-2">
          <div class="card">
            <img src="{% static '/images/pattern1.jpeg' %}" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Facebook</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil assumenda sapiente, quisquam itaque nemo distinctio soluta rem saepe aliquid minima.</p>
              <a href="" class="btn btn-outline-success btn-sm">Visit</a>
              <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-thumbs-up"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-2">
          <div class="card">
            <img src="../static/images/pattern1.jpeg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Youtube</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil assumenda sapiente, quisquam itaque nemo distinctio soluta rem saepe aliquid minima.</p>
              <a href="" class="btn btn-outline-success btn-sm">Visit</a>
              <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-thumbs-up"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-2">
          <div class="card">
            <img src="../static/images/pattern1.jpeg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Instagram</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil assumenda sapiente, quisquam itaque nemo distinctio soluta rem saepe aliquid minima.</p>
              <a href="" class="btn btn-outline-success btn-sm">Visit</a>
              <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-thumbs-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}