{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section id="header" class="jumbotron text-center mb-1">
    <h1 class="display-2">Hello world!</h1>
    <p class="lead">My name is Alexander Do! This blog will be dedicated to writing about topics that I am passionate 
      about such as technology, lifestyle and fashion. My goal is to empower readers to develop and grow themselves
      through my experiences in life. Currently I am working as a systems administrator in the Silicon Valley.
    </p>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
  </section>

{% endblock %}