{% extends 'base.html' %}

{% block content %}
    <h1>Blog Posts</h1>
    <hr>
    <div class="row">
        <div class="col-md-8 blog-main">
            {% for post in posts %}
                <div class="post-section container">
                    <h4>
                        <a href="{% url 'post_view' post.slug post.pk %}">{{ post.title }}</a>
                        {% for cat in post.categories.all %}
                        <span class="badge badge-dark">{{ cat }}</span>
                        {% endfor %}
                        {% if not post.is_published %}
                        <span class="badge badge-secondary">Draft</span>
                        {% endif %}
                    </h4>
                </div>
            {% endfor %}
        </div>
        <aside class="col-md-4">
            <div class="p-3">
                <h4>Categories</h4>
                {% for cat in categories %}
                <h6><a href="{% url 'category_view' cat.name">{{ cat.name }}</a></h6>
                {%  endfor %}
            </div>
        </aside>
    </div>

{% endblock %}

